#############################################
# General environment variables
#############################################
TZ=UTC
APP_NAME=hub-sheetflow


#############################################
# FastAPI environment variables
#############################################
API_VERSION=/api/v1
BACKEND_CORS_ORIGINS=["*"]
DEBUG=true
API_PORT=8080
API_DEBUG_PORT=8021
API_BASE_URL=http://host.docker.internal:8020
INSTALL_DEV=true
APP_NAME_FOR_CALLBACKS=hub-sheetflow

# Conexão ao banco de dados
SQLALCHEMY_DATABASE_URI='postgresql://postgres:postgres@localhost:5477/sheetflow'
SQLALCHEMY_DATABASE_URI_MIGRATIONS='postgresql://postgres:postgres@localhost:5477/sheetflow'
