# Configuração da aplicação
PORT=5000
DEBUG = True
DOCS_DEV='docs'

# Conexão ao banco de dados
SQLALCHEMY_DATABASE_URI='postgresql://postgres:postgres@localhost:5477/sheetflow'
SQLALCHEMY_DATABASE_URI_MIGRATIONS='postgresql://postgres:postgres@localhost:5477/sheetflow'
